body{
    background: #dbd7d7;
    font-family: Arial;
}
.box{
    text-align: center;
    width: 60%;
    background: rgb(75, 74, 74);
    padding: 15px;
    margin: 100px auto;
    font-size: 14px;
    color: white;
}
input{
    width: 80%;
    padding: 10px;
}
button{
    background: green;
    color: white;
    border: none;
    padding: 0px;
    margin-left: 15px;
    cursor: pointer;
    font-size: small;
    width: 50px;
    height: 50px;
    
}
li {
    margin-top: 8px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.done{
    text-decoration: line-through;
    color: gray;
}
